/*here is my external style sheet for AlbumpageV3*/
table, th, td {
	border: 1px solid black;
}
p {
	font-weight: bold;
	font-size: 20px;
}
caption {
	font-weight: bold;
	font-size: 20px;
}
/*italic fonts for band members and producers list*/
ul {
	font-style: italic;
}